
html, body{
  overflow-x: hidden;
  background-color: black;
}
.signup-bg-img{
    background-image: url("./assets/images/signup-bg.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signupOpacity{
    /* background: rgba(300, 300, 300, 0.5); */
    background: rgba(0, 0, 0, 0.8);
}
.view-job-image{
  background-image: url("./assets/images/pexels-pixabay-357514.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  transition: filter 0.4s ease;
}

.view-job-image:hover{
  filter: blur(7px);
}

.group:hover .group-hover:scale-105 {
  transform: scale(1.05);
}

.group:hover .group-hover:opacity-50 {
  opacity: 0.5;
}

.group:hover .group-hover:opacity-100 {
  opacity: 1;
}
